<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson05.dao.Quiz05DAO">
 	<select id="selectWeatherHistoryList" resultType="com.quiz.lesson05.model.WeatherHistory">
 		SELECT
 			`id`
			,`date`
			,`weather`
			,`temperatures`
			,`precipitation`
			,`microDust`
			,`windSpeed`
			,`createdAt`
			,`updatedAt`
		FROM
			`weather_history`
 	</select>
 	
 	<insert id="insertWeatherHistory" parameterType="com.quiz.lesson05.model.WeatherHistory">
 		INSERT INTO `weather_history`
 		(
 			`date`
			,`weather`
			,`temperatures`
			,`precipitation`
			,`microDust`
			,`windSpeed`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{date}
 			, #{weather}
 			, #{temperatures}
 			, #{precipitation}
 			, #{microDust}
 			, #{windSpeed}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<insert id="insertWeatherHistoryAsFiled" parameterType="map">
 	 	INSERT INTO `weather_history`
 		(
 			`date`
			,`weather`
			,`temperatures`
			,`precipitation`
			,`microDust`
			,`windSpeed`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			<!-- date가 String으로 들어가지만 DB에는 Date타입으로 변환돼서 들어간다. -->
 			#{date}
 			, #{weather}
 			, #{temperatures}
 			, #{precipitation}
 			, #{microDust}
 			, #{windSpeed}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 </mapper>